* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e7e4e4;
}
.container {
  background-color: white;
  border: 1px solid white;
  width: 750px;
  margin: 0 auto;
  margin-top: 50px;
}

#header {
  display: flex;
  justify-content: center;
}

.header-section {
  text-align: center;
}

.header-section h1 {
  padding-bottom: 10px;
}

.header-section a {
  text-decoration: none;
  text-align: center;
  color: white;
}
